* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2e41;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  min-height: 100vh; 
  display: flex;     
  flex-direction: column;
}

.page {
  width: 1092px;
  max-width: 90%;
  margin: 0 auto; 
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* --- HEADER / NAV --- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 71px;    
  margin-bottom: 0px;  
}

ul {
  display: flex;
  gap: 64px;
  list-style: none; 
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px; 
  line-height: 28px;
  font-family: "JetBrains Mono", monospace;
}

/* --- MAIN CONTENT --- */
main {
  flex-grow: 1;
  display: flex;
  align-items: center; 
}

main .container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
}


main img {
    max-width: 100%;
}

main .text {
  width: 604px;
  text-align: center; 
}

/* --- TYPOGRAPHY --- */
.container h1 {
  color: #ffffff;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 59px; 
}

.container h1 span {
  color: #00bfa6;
}

.container p {
  color: #c2c2c2;
  font-size: 16px;
  line-height: 28px;
}

.container p span, 
.container p strong {
  color: #00bfa6;
  font-weight: bold;
}

/* --- LINE & FOOTER --- */
.line {
  width: 568px;
  border-top: 1px solid #00bfa6; 
  margin: 100px auto 27px; /* Margem: Cima | Laterais | Baixo */
}

footer {
  text-align: center;
  padding-bottom: 40px;
}

footer p {
  color: #ffffff;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
}

footer a {
  font-weight: bold;
}

.locker img {
  position: fixed; 
  bottom: 50px;    
  left: 50px;      
  width: 50px;     
}

/* --- RESPONSIVIDADE (MOBILE) --- */
@media (max-width: 900px) {

  nav {
    flex-direction: column;
    gap: 30px;
  }
  
  ul {
    flex-wrap: wrap;       
    justify-content: center;
    gap: 20px;
  }

  main .container {
    flex-direction: column;
    text-align: center;    
  }

  main .text {
    width: 100%;          
    margin-top: 40px;     
  }
  
  main img {
    max-width: 80%;      
  }

  .line {
    width: 80%; 
  }

  .locker img {
    position: static;    
    display: block;      
    margin: 40px auto 60px;  
  }
}

